global_defs {
  vrrp_garp_master_delay 5
  vrrp_garp_master_refresh 60
  vrrp_garp_lower_prio_repeat 1
  enable_script_security
}

vrrp_script chk_url{
  # Wrap in timeout as a workaround for https://github.com/acassen/keepalived/issues/1364
  # timeout must be lower than interval to prevent keepalived log spam (e.g. "process ... terminated with signal 15")
  script "/bin/bash -c '/usr/bin/timeout $(echo {{ var "CHECK_SERVICE_INTERVAL" | default "2" }}*0.9|bc) /opt/bin/vrrp_check.sh URL_CHECK {{ var "CHECK_SERVICE_URL" | default "http://127.0.0.1:10254/healthz" }}'"
  interval {{ var "CHECK_SERVICE_INTERVAL" | default "2" }}
  fall {{ var "CHECK_SERVICE_FAILAFTER" | default "2" }}
  rise 2
}

vrrp_script chk_kubelet {
  script "/bin/bash -c '/usr/bin/timeout $(echo {{ var "CHECK_KUBELET_INTERVAL" | default "5" }}*0.9|bc) /opt/bin/vrrp_check.sh URL_CHECK {{ var "CHECK_KUBELET_URL" | default "http://127.0.0.1:10248/healthz" }}'"
  interval {{ var "CHECK_KUBELET_INTERVAL" | default "5" }}
  fall {{ var "CHECK_KUBELET_FAILAFTER" | default "5" }}
  rise 2
}

vrrp_script chk_kubeapi {
  script "/bin/bash -c '/usr/bin/timeout $(echo {{ var "CHECK_KUBEAPI_INTERVAL" | default "5" }}*0.9|bc) /opt/bin/vrrp_check.sh API_CHECK'"
  interval {{ var "CHECK_KUBEAPI_INTERVAL" | default "5" }}
  fall {{ var "CHECK_KUBEAPI_FAILAFTER" | default "5" }}
  rise 2
}

vrrp_instance CLUSTER_VIP {
  interface {{ var "VRRP_IFACE" | default "eth0" }}
  virtual_router_id {{ var "VIRTUAL_ROUTER_ID" | default "10" }}
  state BACKUP
  {{ if eq (var "VRRP_NOPREEMPT" | lower) "true" }}
  nopreempt
  {{else}}
  preempt_delay 5
  {{ end }}
  priority 100
  advert_int 1
  virtual_ipaddress {
    {{ var "VIP_ADDR_CIDR" }} dev {{ var "VIP_IFACE" | default "eth0" }}
  }
  track_script {
    chk_url
	{{ if eq (var "CHECK_KUBELET" | lower) "true" }}
    chk_kubelet
	{{ end }}
	{{ if eq (var "CHECK_KUBEAPI" | lower) "true" }}
    chk_kubeapi weight -40
	{{ end }}
  }
  authentication {
    auth_type PASS
    auth_pass {{ var "AUTH_PASSWORD" }}
  }
}
